PD0577-C_alt.txt
PD0577-C_newFilter_seed3_IBD.hap
PD0577-C_newFilter_seed3_IBD.ibd.hap
PD0577-C_newFilter_seed3_IBD.ibd.llk
PD0577-C_newFilter_seed3_IBD.ibd.postProb.png
PD0577-C_newFilter_seed3_IBD.ibd.postProb.txt
PD0577-C_newFilter_seed3_IBD.ibd.probs
PD0577-C_newFilter_seed3_IBD.ibd.probs.png
PD0577-C_newFilter_seed3_IBD.ibd.prop
PD0577-C_newFilter_seed3_IBD.interpretDEploidFigure.1.png
PD0577-C_newFilter_seed3_IBD.interpretDEploidFigure.2.png
PD0577-C_newFilter_seed3_IBD.llk
PD0577-C_newFilter_seed3_IBD.prop
PD0577-C_ref.txt
asiaGroup1_PLAF.txt
asiaGroup1_and_pf3k_bad_snp_in_at_least_50_samples.txt
